@keyframes changeColor {
	0% {
		background: blue
	}

	50% {
		background: yellow
	}

	100% {
		background: red
	}
}

@keyframes changeBorderRadius {
	from {
		border-radius: 0
	}

	50% {
		border-radius: 50%
	}

	to {
		border-radius: 0
	}
}

div {
	animation-name: changeColor, changeBorderRadius;
	animation-duration: 3s;
	animation-iteration-count: 10;
}
